<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submit Job</title>
</head>
<body>
  <h1>Submit Job</h1>
  <form action="/jobs/submit" method="post">
    <label for="token">User Token:</label>
    <input type="text" id="token" name="token" required><br>
    <label for="mappers">Number of Mappers:</label>
    <input type="text" id="mappers" name="mappers" required><br>
    <label for="reducers">Number of Reducers:</label>
    <input type="text" id="reducers" name="reducers" required><br>
    <label for="map_script">Map Script:</label>
    <input type="text" id="map_script" name="map_script" required><br>
    <label for="reduce_script">Reduce Script:</label>
    <input type="text" id="reduce-script" name="reduce_script" required><br>
    <label for="file_path">File Path:</label>
    <input type="text" id="file_path" name="file_path" required><br>
    <select id="job_type" name="job_type">
      <option value="map">Map</option>
      <option value="reduce">Reduce</option>
    </select><br>
    <input type="submit" value="Submit Job">
  </form>
  <a href="/">Back to Home</a>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
